.close-menu-icon {
  background-color: #ddd;
  /* padding: 14px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* right: 24vw; */
  /* top: 0; */
  cursor: pointer;
  position: absolute;
  z-index: 3000;
  width: 2vw;
  height: 2vw;
  left: -2vw;
  top: 4vh;
}
