.toolbar {
  position: relative;
}
.toolbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-icon {
  font-size: 56px;
  padding-left: 8px;
}
.icon-container {
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ion-popover::part(content) {
  min-width: 50vw;
  border-radius: 15px;
}
.info-popover .info-popover-txt {
  font-size: 20px;
  margin-bottom: 24px;
}
.info-popover-title {
  font-size: 24px;
  margin-bottom: 24px;
  text-align: left;
  font-weight: 500;
}
.popover-content-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.popover-btn {
  width: 25%;
  align-self: center;
}
.info-popover ol {
  list-style-type: none;
  counter-reset: elementcounter;
}
.info-popover li {
  counter-increment: elementcounter;
  margin-left: 30px;
}
.info-popover li::marker {
  content: "Step " counter(elementcounter) ". ";
  font-weight: bold;
  color: #008468;
}

@media only screen and (max-width: 340px) {
  .toolbar-title {
    font-size: 16px;
  }
  .login-icon {
    font-size: 24px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 340px) and (max-width: 600px) and (orientation: portrait) {
  .login-icon {
    font-size: 40px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 999px) {
  .info-popover .popover-content {
    min-width: 94vw;
    margin-left: 2vw;
  }
}
