.toolbar {
  height: 7vh;
}
.toolbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-icon {
  font-size: 50px;
  margin-right: 14px;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .toolbar {
    height: 9vh;
  }
}
