.entity-details-container {
  padding: 8vh 16px 16px 16px;
  overflow-y: scroll;
  max-height: 90vh;
}
.data-accordion {
  border: 2px solid green;
  width: 100%;
  margin-bottom: 4px;
}
.accordion-title-container {
  display: flex;
  cursor: pointer;
}
.accordion-title {
  font-size: 24px;
}
.accordion-title-bold {
  font-weight: 600;
}
.accordion-post-list {
  overflow-y: scroll;
  height: fit-content;
}
.accordion-post {
  position: relative;
}
.accordion-post-title {
  display: flex;
}
.accordion-post-text-container {
  max-height: 8vh;
  overflow: hidden;
  margin-bottom: 8px;
}
.accordion-post-readmore {
  cursor: pointer;
  font-weight: 600;
}
.accordion-post-readmore-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(transparent, #fff);
  height: 50%;
  align-items: flex-end;
  display: flex;
}
.close-menu-icon {
  background-color: #fff;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24vw;
  top: 0;
  cursor: pointer;
}

.bottom-drawer {
  position: absolute;
  right: -16px;
  bottom: -68vh;
  /* height: 400px; */
  max-height: 80vh;
  min-height: 80vh;
  border-radius: 30px;
  width: 100vw;
  /* overflow-y: scroll; */
}
.entity-detail-title {
  font-weight: 600;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .entity-details-container {
    padding: 16px 16px 16px 16px;
    max-height: 72vh;
  }
}

/* @media only screen and (min-width: 768px) {
  .entity-details-container {
    padding: 8vh 16px 16px 16px;
  }
} */
