.menu-container {
  width: 24%;
  height: 100%;
  transition-duration: 0.3s;
  z-index: 1000;
  position: absolute;
  margin-top: 7vh;
}
.spinner-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-container {
  position: absolute;
  z-index: 1000;
  background-color: rgba(242, 242, 242, 0.8);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px;
  right: 0;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 10vh;
}
.menu-toggle-wrapper {
  transition-duration: 0.3s;
  transition-delay: 0.2s;
  transform-origin: center;
}
.toggle-menu-icon {
  height: 28px;
  width: 28px;
  color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  .menu-container {
    width: 100%;
    height: 100%;
    margin-top: 9vh;
  }
  .chevron-container {
    right: 50vw;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    padding: 0;
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 0;
  }
}
