.side-menu {
  transition-duration: 0.3s;
  /* border-top: 1px solid var(--ion-color-primary); */
  height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .side-menu {
    height: 100%;
    border-top: none;
    /* border-left: 1px solid var(--ion-color-primary); */
  }
}
