.side-menu {
  /* transition-duration: 0.3s; */
  /* width: 100%; */
  /* top: 40vh; */
  /* height: 50vh; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* background-color: #fff; */
}

/* @media only screen and (min-width: 768px) {
  .side-menu {
    margin-top: 40vh;
    height: 80%;
    top: 0;
    --padding-top: 10%;
  }
} */
